*
	{
		margin:0px;
		padding:0px;
	}
	body
	{
	background-image:url(../images/1.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	}
h5
	{
		color:#039;
		font-size:16px;
		font-family:Verdana, Geneva, sans-serif;
		margin-bottom:5px;
	}
h6
	{
		color:#06C;
		font-size:12px;
		font-family:Verdana, Geneva, sans-serif;
		margin-bottom:10px;
	}

.edit
	{
		width:auto;
		height:auto;
	}
.main
	{
		width:1000px;
		height:auto;
		margin:auto;
	}
.line
	{
		width:100%;
		height:5px;
		background-color:#06C;
	}
.social
	{
		width:100%;
		height:50px;
		box-shadow: 0px 1px  #888888;
		background-color:#F2F2F2;
		
		
		
	}
.left_social
	{
		width:700px;
		height:50px;
		float:left;
		line-height:50px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
	}
.right_social
	{
		width:300px;
		height:50px;
		float:right;
		line-height:50px;
		text-align:right;
	}
.header
	{
		width:100%;
		height:90px;
		margin-top:5px;
		margin-bottom:5px;
	}
.menu
	{
		width:100%;
		height:50px;
		
	}
.banner
	{
		width:100%;
		height:500px;
		
	}
.web
	{
		width:300px;
		height:180px;
		float:left;
		padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#666;
	}
.mobile
	{
		width:310px;
		height:180px;
		float:left;padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#666;
	}
.socialmedia
	{
		width:300px;
		height:180px;
		float:right;
		padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#666;

	}
.clear
	{
		clear:both;
	}
.left_conetnt
	{
	width:710px;
	height:230px;
	float:left;
	background-color:#FFF;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	padding:15px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	line-height:22px;
	
	}
.right_content
	{
		width:210px;
		height:230px;
		padding:15px;
		float:right;
		background-color:#FFF;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	line-height:22px;
	}
	
.courses
{
	width:1000px;
	height:250px;

/*	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	line-height:22px;
}

.company
	{
		width:300px;
		height:160px;
		float:left;
		padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#FFF;

	}
.lcourses
	{
		width:310px;
		height:160px;
		float:left;padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#FFF;
	}
	.location
	{
		width:310px;
		height:160px;
		background-color:#FFFFFF;
		float:left;padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#FFF;
	}
.address
	{
		width:300px;
		height:160px;
		float:right;
		padding:15px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:22px;
		color:#FFF;

	}

.footer
	{
		width:100%;
		background-color:#333942;
		height:200px;
		color:#FFF;
		font-family:Verdana, Geneva, sans-serif;
		font-size:12px;
		line-height:25PX;
		
	}
	
.footer li{
		color:#FFF;
		list-style-type:none;
		line-height:35px;
		border-bottom:dotted #CCC 1px;
	}
.footer li a
	{
		color:#FFF;
		text-decoration:none;
	}
.footer li a:hover
	{
		color:#09F;
	}
	
.bottomfooter
	{
		width:100%;
		height:60px;
		background-color:#292F38;
	}
.left_bottomfooter
	{
		width:600px;
		height:60px;
		float:left;
		color:#FFF;
		line-height:60px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
	}
.right_bottomfooter
	{
		width:400PX;
		height:60PX;
		float:right;
		color:#FFF;
		line-height:60px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:13px;
		text-align:right;
	}
	
.heading
	{
		width:100%;
		height:50px;
		box-shadow: 0px 1px #CCC;
		background-color:#F2F2F2;

		margin-bottom:15px;
		line-height:50px;
		font-family:Verdana, Geneva, sans-serif;
		font-size:24px;
		color:#06F;
	}

.inner_banner
	{
		width:100%;
		height:300px;
	}
		
.left_banner
	{
		width:750px;
		height:250px;
		float:left;
		background-color:#FFF;
/*		background-image:url(../images/website.jpg);*/
		
	}
.right_banner
	{
		width:240px;
		padding-left:10px;
		height:250px;
		float:right;
		font-family:Verdana, Geneva, sans-serif;
		font-size:14px;
		line-height:30px;
	}

.right_banner ul
	{
		list-style-image:url(../images/bullet.png);
		margin-left:50px;
	}	
.right_banner ul a
	{
		text-decoration:none;
		color:#000;
	}
.right_banner ul a:hover
	{
		color:#06C;
	}
	.con1
	{
		width:1000px;
		height:auto;
		margin:auto;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	margin-top:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
		background-color:#FFFFFF;
		}
.con
	{
		width:1000px;
		height:auto;
		margin:auto;
	}
	.left_con1
	{
		width:730px;
		height:auto;
		float:left;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding-right:20px;
		padding-top:10px;
		border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	margin-top:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
		background-color:#FFFFFF;
		
	}
.left_con
	{
		width:730px;
		height:auto;
		float:left;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding-right:20px;
		padding-top:10px;
		border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	margin-top:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
		background-color:#FFFFFF;
		
	}
.left_courses
	{
		width:340px;
		height:auto;
		float:left;
	}
.right_course
	{
		width:350px;
		height:auto;
		float:right;
	}
.right_con
	{
		width:220px;
		height:auto;
		float:right;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	margin-top:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
		background-color:#FFFFFF;
	}
	.right_con1
	{
		width:220px;
		height:auto;
		float:right;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;
	margin-top:40px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
		background-color:#FFFFFF;
	}
.left_con ul
	{
		list-style-image:url(../images/bullet.png);
		margin-left:50px;
		line-height:25px;
	}

	
.map
	{
		
width:670px;
		height:auto;
		float:left;
		font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		}


.location
	{
		width:300px;
		height:auto;
		float:right;
	border-radius:10px;
	border-style:solid;
  border-width:1px;
	border-color:#CCC;

	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size:13px;
		line-height:22px;
		text-align:justify;
		padding:10px;
	}
	.box-img
	{
	width:100%;
	height:200px;
	background:#CCCCCC;
	}