#cssmenu ul {
  margin: 0;
  padding: 0;
}
#cssmenu li {
  margin: 0;
  padding: 0;
}
#cssmenu a {
  margin: 0;
  padding: 0;
  
}
#cssmenu ul {
  list-style: none;
}
#cssmenu a {
  text-decoration: none;
}
#cssmenu {
  height: 50px;
 
/*  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);*/
  width:1000px;
    z-index:-1;
	margin-bottom:10px;
}
#cssmenu > ul > li {
  float: left;
  margin-left: 15px;
  position: relative;
    z-index:1500;
}
#cssmenu > ul > li > a {
  color:#000000;
  font-weight:bold;
  font-family: Verdana, 'Lucida Grande';
  font-size: 14px;
  line-height: 30px;
  float:left;
  padding-left:25px;
  padding-right:23px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
  background-color:#FFF;
  margin-top:10px;
  margin-bottom:10px;
/*  border-radius:10px;*/
  
 }
#cssmenu > ul > li > a:hover {
  color:#036;
  background-color:#06C;
  /*border-radius:5px;*/
}
#cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #FF9224;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 220px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  
}
#cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
  
}
#cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  
  
}
#cssmenu > ul ul > li {
  position: relative;
  
}
#cssmenu ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 14px;
  background-color:#FF9224;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
  
}
#cssmenu ul ul a:hover {
  background-color: #f0f0f0;
  
}
#cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  margin-left:40px;
  width: 200px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;*/
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

}
#cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
  
}
#cssmenu ul ul a:hover {
  background-color:#06C;
  color: #f0f0f0;
  
}
a
{
text-decoration:none;
color:#000000;
}
a:hover
{
color:#FF0000;
}
.logo1
	{
		width:1000px;
		height:150px;
		margin:auto;
	}
	.logo1-left
	{
		width:300px;
		height:120px;
		float:left;
		
	}
	.logo1-right
	{
		width:600px;
		float:right;
		height:120px;
		margin:auto;
		
	
	}
	.menu
	{
		width:100%;
		height:50px;
		background-color:#FF8C1A;
		
	}